<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.video</string>
				<string>public.avi</string>
				<string>com.microsoft.windows-media-wmv</string>
				<string>public.3gpp</string>
				<string>org.matroska.mkv</string>
				<string>io.mpv.mkv</string>
				<string>public.mpeg-4</string>
				<string>com.apple.quicktime-movie</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Video</string>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mkv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-matroska</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AVI Video</string>
			<key>UTTypeIdentifier</key>
			<string>public.avi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>avi</string>
				</array>
			</dict>
		</dict>
	</array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need access to your photo library to save video snapshots.</string>
</dict>
</plist>
