<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeUGZfxJWkmi0rJJd1oWLqh0BDailbDwU</string>
	<key>GCM_SENDER_ID</key>
	<string>738432927752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.video.player.veeplay.app</string>
	<key>PROJECT_ID</key>
	<string>veeplay---video-player</string>
	<key>STORAGE_BUCKET</key>
	<string>veeplay---video-player.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738432927752:ios:0cbcc5999c4158b26029bd</string>
</dict>
</plist>