<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.video</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.mpeg-4</string>
				<string>public.avi</string>
				<string>public.matroska</string>
				<string>org.matroska.mkv</string>
				<string>com.microsoft.advanced-systems-format</string>
				<string>public.3gp</string>
				<string>public.mpeg</string>
				<string>com.real.realmedia</string>
				<string>public.mpeg-ts</string>
				<string>public.vob</string>
				<string>public.ogg</string>
				<string>public.ogv</string>
				<string>public.webm</string>
				<string>public.flv</string>
				<string>public.3g2</string>
				<string>public.mxf</string>
				<string>com.adobe.flash.video</string>
				<string>com.videoplayer.generic-video</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_airplay._tcp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<false/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Generic Video Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.videoplayer.generic-video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rrc</string>
					<string>gifv</string>
					<string>mng</string>
					<string>qt</string>
					<string>yuv</string>
					<string>amv</string>
					<string>mp2</string>
					<string>mpe</string>
					<string>mpv</string>
					<string>svi</string>
					<string>roq</string>
					<string>nsv</string>
					<string>f4p</string>
					<string>f4a</string>
					<string>f4b</string>
					<string>mod</string>
					<string>dat</string>
					<string>vro</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MXF Video</string>
			<key>UTTypeIdentifier</key>
			<string>public.mxf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mxf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>3G2 Video</string>
			<key>UTTypeIdentifier</key>
			<string>public.3g2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>3g2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VOB Video</string>
			<key>UTTypeIdentifier</key>
			<string>public.vob</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vob</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OGG Video</string>
			<key>UTTypeIdentifier</key>
			<string>public.ogg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogg</string>
					<string>ogv</string>
					<string>obb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WebM Video</string>
			<key>UTTypeIdentifier</key>
			<string>public.webm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flash Video</string>
			<key>UTTypeIdentifier</key>
			<string>public.flv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RealMedia Video</string>
			<key>UTTypeIdentifier</key>
			<string>com.real.realmedia</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rm</string>
					<string>rmvb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG Transport Stream</string>
			<key>UTTypeIdentifier</key>
			<string>public.mpeg-ts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ts</string>
					<string>mts</string>
					<string>m2ts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Video</string>
			<key>UTTypeIdentifier</key>
			<string>public.matroska</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Video (Alternate)</string>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mkv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Audio Video Interleave</string>
			<key>UTTypeIdentifier</key>
			<string>public.avi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>avi</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Figtree-Black.ttf</string>
		<string>Figtree-BlackItalic.ttf</string>
		<string>Figtree-Bold.ttf</string>
		<string>Figtree-BoldItalic.ttf</string>
		<string>Figtree-ExtraBold.ttf</string>
		<string>Figtree-ExtraBoldItalic.ttf</string>
		<string>Figtree-Italic-VariableFont_wght.ttf</string>
		<string>Figtree-Italic.ttf</string>
		<string>Figtree-Light.ttf</string>
		<string>Figtree-LightItalic.ttf</string>
		<string>Figtree-Medium.ttf</string>
		<string>Figtree-MediumItalic.ttf</string>
		<string>Figtree-Regular.ttf</string>
		<string>Figtree-SemiBold.ttf</string>
		<string>Figtree-SemiBoldItalic.ttf</string>
		<string>Figtree-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
